.main-container {
    background-color: white;
    /*max-width: 1600px;*/
    align-items: center;
    justify-content: space-between;
    /*border-bottom: 2px solid #001573;*/
    font-family: Inter, serif;
    margin: 120px auto 0;
    position: relative;
}

.method-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.method-button {
    background-color: #ffffff;
    color: #001573;
    border: 2px solid #001573;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 75%;
    margin-bottom: 20px;
    width: 167px;
    height: 33px;
    margin-left: 80px;
}

.method-list {
    list-style-type: none;
    padding: 0;
    color: #001573;
    position: relative;
    /*max-width: 1600px;*/
    margin-right: auto;
}

.method-list li {
    display: flex;
    align-items: center;
    padding-left: 80px;
    /*margin-bottom: 10px;*/
    font-size: 18px;
    line-height: 110%;
    font-weight: 500;
    height: 53px;
    vertical-align: center;
    border-bottom: 1px solid #001573;
    cursor: default;
}

.method-list li:hover {
    background-color: #001573;
    color: white;

}

.right-column {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
}

.text-block {
    color: #1E1E1E;
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 110%;
}

.text-block span {
    color: #001573;
}

.swimmer-image {
    width: 263px;
    height: auto;
    /*border: 2px solid #001573;*/
}


@media (max-width: 810px) {
    .method-button {
        font-size: 12px;
        width: 131px;
        height: 24px;
        line-height: 25%;
    }

    .text-block {
        font-size: 14px;
    }
}

@media (max-width: 660px) {
    .main-container {
        margin-top: 40px;
    }

    .method-button {
        margin-left: 10px;
    }

    .text-block {
        margin-top: 25px;
        margin-left: 10px;
        font-size: 12px;
    }

    .method-list li {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
}