.discount-page {
    background-color: #FFFFFF;
    color: #001573;
    font-family: 'Inter', sans-serif;
    /*width: 1600px;*/
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.discount-header {
    font-size: 160px;
    font-weight: 600;
    line-height: 75%;
    margin: 0;
}

.lesson {
    text-align: end;
    margin-right: 31px;
}

.arrow-down {
    width: 98px;
    height: 81px;
}

.discount-form {
    display: flex;
    flex-direction: column;
    max-width: 718px;
    margin-top: 100px;
    width: 100%;
    align-items: center;
}

.selects-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    align-self: start;
    align-items: center;
}

.discount-form-select {
    margin-right: 20px;
    background-color: rgba(0, 21, 115, 0.5);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.selects-container:last-of-type {
    margin-bottom: 40px;
}

.discount-form input[type="text"],
.discount-form input[type="tel"],
.discount-form input[type="email"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 40px;
    border: none;
    height: 23px;
    border-bottom: 2px solid #001573;
    /*border-radius: 5px; */
    background: transparent;
    color: #001573;
}

.discount-form input[type="email"] {
    margin-bottom: 10px;
}

.discount-form .privacy-policy {
    color: #001573;
    font-size: 14px;
    text-align: start;
    align-self: start;
    /*margin-bottom: 1em;*/
}

.discount-form .privacy-policy a {
    color: #001573;
    /*margin-left: 24px;*/
}

.discount-form .privacy-policy input[type="checkbox"] {
    margin-right: 0.5em;
}

.submit-button {
    background-color: #FF6434;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 47px;
    margin-bottom: 45px;
    width: 728px;
    /*margin-left: 83px;*/
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
    cursor: pointer;
    box-shadow: 4px 6px 0 0 #406AEA;
}

.submit-button:hover {
    background-color: #f27d30;
}

@media (max-width: 1600px) {
    .discount-header {
        font-size: 140px;
    }

    .lesson {
        margin-right: 12%;
    }
}

@media (max-width: 1429px) {
    .discount-header {
        font-size: 130px;
    }
}

@media (max-width: 1284px) {
    .discount-header {
        font-size: 110px;
    }
}

@media (max-width: 810px) {
    .discount-header {
        font-size: 60px;
    }

    .arrow-down {
        width: 68px;
        height: 51px;
    }

    .discount-form {
        margin-top: 40px;
        width: auto;
    }

    .submit-button {
        width: 100%;
        min-width: 360px;
        max-width: 720px;
    }
}

@media (max-width: 660px) {
    .discount-header {
        font-size: 40px;
    }

    .arrow-down {
        width: 48px;
        height: 31px;
    }

    .discount-form {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    .submit-button {
        width: 100%;
        min-width: 250px;
        max-width: 720px;
    }
}
