.faq-container {
    background-color: #FFFFFF; /* Цвет фона */
    /*max-width: 1440px; !* Ширина контейнера *!*/
    /* Центрирование и добавление отступов сверху и снизу */
    margin: 130px auto 120px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.faq-button {
    background-color: #ffffff;
    color: #001573;
    border: 2px solid #001573;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 75%;
    margin-bottom: 32px; /* Отступ от кнопки до списка */
    width: 86px;
    height: 33px;
    margin-left: 80px;


}

.faq-item {
    /*margin-bottom: 10px; !* Отступы между вопросами *!*/
    border-top: 1px solid #406AEA; /* Линия под каждым вопросом */
    min-height: 69px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 82px;
    margin-right: 82px;
}

.faq-item:last-child {
    border-bottom: 1px solid #406AEA;
}

.faq-question {

    font-size: 40px; /* Размер шрифта для вопроса */
    color: #001A70; /* Цвет текста вопроса */
    cursor: pointer; /* Показывает, что на вопрос можно нажать */
    padding: 10px 0; /* Вертикальные отступы вопроса */
    display: flex; /* Располагаем текст вопроса и иконку в одну линию */
    justify-content: space-between; /* Распределяем текст и иконку по краям */
    align-items: center; /* Центрируем элементы по вертикали */
}

.faq-icon-wrapper {
    min-width: 40px;
    min-height: 40px;
    background-color: #FF6434;
    border: none;
    box-shadow: 4px 0 2px #406AEA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-icon {
    width: 19.61px; /* Inner image width */
    height: 19.61px; /* Inner image height */
}


.faq-answer {
    font-size: 24px; /* Размер шрифта для ответа */
    color: #001573; /* Цвет текста ответа */
    padding: 10px 0 0 0; /* Отступы вокруг текста ответа */
    display: none; /* По умолчанию ответы не отображаются */
    width: 55%;
}

.faq-item.active .faq-answer {
    display: block; /* Отображаем ответ при активации */
}

/* Медиа-запросы и другие стили для адаптивности */
@media (max-width: 768px) {
    .faq-container {
        width: 90%; /* Сужаем контейнер на мобильных устройствах */
    }

    .faq-question {
        font-size: 16px; /* Уменьшаем размер шрифта для вопросов */
    }

    .faq-answer {
        font-size: 14px; /* Уменьшаем размер шрифта для ответов */
    }
}