.faq-container {
    background-color: #FFFFFF; /* Цвет фона */
    /*max-width: 1440px; !* Ширина контейнера *!*/
    /* Центрирование и добавление отступов сверху и снизу */
    margin: 130px 82px 0;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.faq-button {
    background-color: #ffffff;
    color: #001573;
    border: 2px solid #001573;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 75%;
    margin-bottom: 20px; /* Отступ от кнопки до списка */
    width: 167px;
    height: 33px;
    margin-left: 80px;
}

.faq-item {
    margin-bottom: 10px; /* Отступы между вопросами */
    border-top: 1px solid #406AEA; /* Линия под каждым вопросом */
    min-height: 69px;
}

.faq-item:last-child {
    border-bottom: 1px solid #406AEA;
}

.faq-question {
    font-size: 18px; /* Размер шрифта для вопроса */
    color: #001A70; /* Цвет текста вопроса */
    cursor: pointer; /* Показывает, что на вопрос можно нажать */
    padding: 10px 0; /* Вертикальные отступы вопроса */
    display: flex; /* Располагаем текст вопроса и иконку в одну линию */
    justify-content: space-between; /* Распределяем текст и иконку по краям */
    align-items: center; /* Центрируем элементы по вертикали */
}

.toggle-icon {
    width: 24px; /* Ширина иконки */
    height: 24px; /* Высота иконки */
    transition: transform 0.3s ease; /* Анимация поворота иконки */
}

.toggle-icon.active {
    transform: rotate(45deg); /* Поворот активной иконки на 45 градусов */
}

.faq-answer {
    font-size: 16px; /* Размер шрифта для ответа */
    color: #333333; /* Цвет текста ответа */
    padding: 10px 0 20px 0; /* Отступы вокруг текста ответа */
    display: none; /* По умолчанию ответы не отображаются */
}

.faq-item.active .faq-answer {
    display: block; /* Отображаем ответ при активации */
}

/* Медиа-запросы и другие стили для адаптивности */
@media (max-width: 768px) {
    .faq-container {
        width: 90%; /* Сужаем контейнер на мобильных устройствах */
    }

    .faq-question {
        font-size: 16px; /* Уменьшаем размер шрифта для вопросов */
    }

    .faq-answer {
        font-size: 14px; /* Уменьшаем размер шрифта для ответов */
    }
}