.footer {
    font-family: Inter serif;
    background-color: #0d1f59;
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.footer_container{
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_text{
    text-align: left;
    flex-wrap: wrap;
    width: 525px;
    margin: 10px;
}

.nav {
    font-size: 24px;
}

.footer_menu_link {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_menu_link:hover {
    color: #FF6434;
}

.address_list{
    font-size: 18px;
}

.address {
    font-size: 16px;
}

.call_email {
    text-decoration: none;
    color: #FFFFFF;
}

.contact_list {
    margin-top: 61px;
    font-size: 18px;
}

.contact {
    font-size: 16px;
}

.footer div {
    flex: 1;
    margin: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin: 8px 0;
/*    font-size: 14px;*/
}

/*.footer p {*/
/*    margin: 6px 0;*/
/*    font-size: 14px;*/
/*}*/

.footer button:hover {
    color: #f27d30;
}

/* Social Media Icons */
.footer-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social_icons {
    gap: 15px;
    height: 69px;
    display: flex;
    flex-direction: row;
}

.social-icons-pack{
    width: 100%;
    height: 100%;
    max-height: 69px;
    max-width: 69px;
    border: none;
    cursor: pointer;
    background-color: #F8F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 2px 1px 0 #014CCC;
}

.social-icons-pack:hover{
    background-color: #FF6434;
}

.social_icon{
    border-radius: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-icons img:hover {
    transform: scale(1.1);
}

.work_hours{
    font-size: 16px;
}

.working_hours {
    font-size: 14px;
}

.work_hours_second{
    margin-top: 8px;
}

.footer_about {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

/*!* Responsive *!*/
/*@media (max-width: 768px) {*/
/*    .footer {*/
/*        flex-direction: column;*/
/*        text-align: center;*/
/*    }*/

/*    .footer div {*/
/*        margin: 10px 0;*/
/*    }*/
/*}*/