.header {
    margin: 0 auto;
    /*max-width: 1601px;*/
    background: linear-gradient(45deg, rgba(0, 21, 115, 0), rgba(0, 21, 115, 1));
    /* padding-top: 45px; */
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    /*border-bottom: 1px solid rgba(54, 54, 54, .7);*/
    /*box-sizing: border-box;*/
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header_menu {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.header_menu_link {
    text-decoration: none;
    color: #FFFFFF;
}

.header_menu_link:hover {
    color: #FF6434;
}

.logo_img {
    font-family: Inter, serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 81px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    -webkit-text-stroke: 1px black;
}

.header_menu {
    font-family: Inter, serif;
    font-size: 14px;
    text-transform: uppercase;
}

.header_add {
    display: flex;
    flex-direction: row;
    margin-right: 81px;
    align-items: center;
}

.header_social {
    display: flex;
    height: 30px;
}
.social-icons-pack_header {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #F8F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 2px 1px 0 #014CCC;
}

.social-icons-pack_header:hover{
    background-color: #FF6434;
}

.social_icon_header{
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 8px;
}
.facebook {
    margin-right: 15px;
}

.lang_select{
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
