.mission-page {
    position: relative;
    font-family: 'Inter', sans-serif;
    background: #fff; /* или любой цвет фона, который вы выбрали */
    /*height: 631px; !* Полная высота экрана *!*/
    overflow: hidden; /* Скрывает переполнение за пределами контейнера */
    /*display: flex;*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*width: 1600px;*/
    margin: 120px auto 120px;
}

.mission-button {
    background-color: #ffffff;
    color: #001573;
    border: 2px solid #001573;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 75%;
    margin-bottom: 20px; /* Отступ от кнопки до списка */
    width: 121px;
    height: 33px;
    margin-left: 80px;
}


.mission-statement {
    position: relative;
    margin-left: 20px; /* или подходящий отступ слева */
}

.main-text {
    margin-top: 120px;
    margin-bottom: 0;
    font-size: 220px; /* Размер шрифта для главного текста */
    text-align: center;
    font-weight: bold;
    line-height: 90%;
    color: #001573;
    white-space: nowrap; /* Обеспечивает отсутствие переносов строк */
    position: relative; /* Относительное позиционирование для наложения текста */
    z-index: 2; /* Устанавливаем z-index для контроля наложения */
    text-transform: uppercase;
}

.main-text__lang_en {
    font-size: 380px; /* Размер шрифта для главного текста */
    margin-bottom: 15px;
}


.main-text__sup {
    text-transform: none;
    font-size: 100px;
    vertical-align: top;
}

.main-text_low {
    margin-top: 0;
    font-size: 264px; /* Размер шрифта для главного текста */
}

.main-text_low__lang-en {
    font-size: 380px;
}

/*.sub-text {*/
/* */
/*    color: #001573;*/
/*    position: absolute; !* Абсолютное позиционирование для наложения на основной текст *!*/
/*    top: 0; !* Позиционирование от верхнего края родителя *!*/
/*    left: 0;*/
/*    z-index: 1; !* z-index меньше, чем у .main-text, чтобы текст находился под ним *!*/
/*    transform: translateY(-50%); !* Сдвигаем текст, чтобы он был по центру основного *!*/
/*}*/

/* ... предыдущие стили ... */

.overlay-text {
    font-size: 75px; /* Размер шрифта для подзаголовка */
    font-weight: 600;
    line-height: 75%;
    text-align: left;
    color: #001573; /* Полупрозрачный цвет для эффекта наложения */
    /*position: absolute; !* Абсолютное позиционирование для наложения текста *!*/
    /*bottom: 100%; !* Расположение текста ближе к низу родительского контейнера *!*/
    /*right: 15%; !* Сдвигаем текст вправо относительно родительского контейнера *!*/
    /*transform: translateX(50%); !* Сдвигаем текст обратно, чтобы выровнять его относительно правого края *!*/
    /*z-index: 1; !* Устанавливаем z-index меньше, чтобы текст оказался под основным текстом *!*/
    /*margin-right: auto;*/
}

.overlay-cont {
    display: flex;
    flex-direction: row;
    position: absolute; /* Абсолютное позиционирование для наложения текста */
    bottom: 90%; /* Расположение текста ближе к низу родительского контейнера */
    right: 10%; /* Сдвигаем текст вправо относительно родительского контейнера */
    /*transform: translateX(50%); !* Сдвигаем текст обратно, чтобы выровнять его относительно правого края *!*/
    z-index: 1; /* Устанавливаем z-index меньше, чтобы текст оказался под основным текстом */
    margin-right: auto;
    align-items: center;
    gap: 41px;
}

.overlay-cont__lang_en {
    bottom: 100%;
    right: 30%;
}

.overlay-text__lang-en {
    font-size: 95px;
}

.overlay-img {
    width: 98px;
    height: 81px;
}

@media (max-width: 1600px) {
    .main-text {
        font-size: 180px;
    }
    .main-text_low {
        font-size: 220px;
    }
    .overlay-text {
        font-size: 65px;
    }
    .main-text__lang_en {
        font-size: 280px;
    }
    .main-text_low__lang-en {
        font-size: 320px;
    }
}

@media (max-width: 1429px) {
    .main-text {
        font-size: 160px;
    }
    .main-text_low {
        font-size: 200px;
    }
    .overlay-text {
        font-size: 60px;
    }
    .main-text__lang_en {
        font-size: 260px;
    }
    .main-text_low__lang-en {
        font-size: 300px;
    }
}

@media (max-width: 1332px) {
    .main-text {
        font-size: 140px;
    }
    .main-text_low {
        font-size: 180px;
    }
    .overlay-text {
        font-size: 50px;
    }
    .main-text__lang_en {
        font-size: 240px;
    }
    .main-text_low__lang-en {
        font-size: 280px;
    }
}

@media (max-width: 1284px) {
    .main-text {
        font-size: 120px;
    }
    .main-text_low {
        font-size: 160px;
    }
    .overlay-text {
        font-size: 40px;
    }
    .main-text__lang_en {
        font-size: 220px;
    }
    .main-text_low__lang-en {
        font-size: 260px;
    }
}

@media (max-width: 1230px) {
    .main-text {
        font-size: 100px;
    }
    .main-text_low {
        font-size: 140px;
    }
    .overlay-text {
        font-size: 20px;
    }
    .main-text__lang_en {
        font-size: 200px;
    }
    .main-text_low__lang-en {
        font-size: 240px;
    }

    .overlay-cont__lang_en {
        bottom: 115%;
        right: 17%;
    }
}

@media (max-width: 960px) {
    .main-text {
        font-size: 6rem;
    }
    .main-text_low {
        font-size: 8.5rem;
    }
    .overlay-text {
        font-size: 1.5rem;
    }
    .main-text__lang_en {
        font-size: 8.5rem;
    }
    .main-text_low__lang-en {
        font-size: 8.5rem;
    }

    .overlay-cont {
        bottom: 100%;
        right: 10%;
    }

    .overlay-cont__lang_en {
        bottom: 115%;
        right: 17%;
    }
}

@media (max-width: 810px) {
    .main-text {
        font-size: 4rem;
    }
    .main-text_low {
        font-size: 5.5rem;
    }
    .overlay-text {
        font-size: 1.5rem;
    }
    .overlay-img {
        width: 88px;
        height: 71px;
    }

    .main-text__lang_en {
        font-size: 7.5rem;
    }
    .main-text_low__lang-en {
        font-size: 8.5rem;
    }

    .overlay-cont {
        bottom: 100%;
        right: 10%;
    }

    .overlay-cont__lang_en {
        bottom: 115%;
        right: 17%;
    }

    .mission-button {
        font-size: 12px;
        width: 131px;
        height: 24px;
        line-height: 25%;
    }
}

@media (max-width: 660px) {
    .mission-page {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .main-text {
        font-size: 2.5rem;
    }
    .main-text_low {
        font-size: 3rem;
    }
    .overlay-text {
        font-size: 1.5rem;
    }
    .overlay-img {
        width: 48px;
        height: 31px;
    }

    .main-text__lang_en {
        font-size: 7.5rem;
    }
    .main-text_low__lang-en {
        font-size: 8.5rem;
    }

    .overlay-cont {
        bottom: 100%;
        right: 10%;
    }

    .overlay-cont__lang_en {
        bottom: 115%;
        right: 17%;
    }

    .mission-button {
     margin-left: 10px;
    }
}