.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

.popup-container {
    background: #ffffff;
    color: #001573;
    padding: 40px;
    border-radius: 20px;
    max-width: 700px;
    width: 80%;
    height: 80%;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.popup-header {
    font-size: 50px;
}

.popup-form {
    display: grid;
    flex-direction: column;
    max-width: 718px;
    margin-top: 10px;
    width: 100%;
    align-items: center;
}

.popup-form input[type="text"],
.popup-form input[type="tel"],
.popup-form input[type="email"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 40px;
    border: none;
    height: 23px;
    border-bottom: 2px solid #001573;
    /*border-radius: 5px; */
    background: transparent;
    color: #001573;
}

.popup-form .privacy-policy {
    color: #001573;
    font-size: 14px;
    text-align: start;
    align-self: start;
    /*margin-bottom: 1em; */
}

.popup-form .privacy-policy a {
    color: #001573;
    margin-left: 24px;
}

.popup-form .privacy-policy input[type="checkbox"] {
    margin-right: 0.5em;
}

.submit-popup-button {
    background-color: #FF6434;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 47px;
    margin-bottom: 45px;
    width: 100%;
    /*margin-left: 83px;*/
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
    cursor: pointer;
    box-shadow: 4px 6px 0 0 #406AEA;
}

.submit-button:hover {
    background-color: #f27d30;
}

.popup-header-container {
    margin: 0;
}

.popup-page {
    background-color: transparent;
    color: #001573;
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #001573;
}

.popup-close:hover {
    color: #FF6434;
}

.popup-form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid #001573;
    background: transparent;
    color: #001573;
}

@media (max-width: 660px) {
    .popup-header {
        font-size: 40px;
    }

    .popup-form .privacy-policy {
        font-size: 8px;
    }

    .popup-form input[type="text"],
    .popup-form input[type="tel"],
    .popup-form input[type="email"] {
        font-size: 12px;
    }

    .popup-form textarea {
        font-size: 12px;
    }

}