/* Question Section */
.question {
    width: 100%;
    background-color: #0d1f59;
    color: #ffffff;
    padding-top: 93px;
    text-align: center;
}

.question_wrapper{
    font-size: 48px; /* Adjust to match your design */
    line-height: 100%;
    font-weight: 600; /* Adjust weight to match your design */
    margin: 0 0 20px 0;
    text-align: left;
    padding-left: 80px;
}

.question_text {
    display: block;
    font-size: 80px;
    font-weight: 500;
}
.question_text_first {
    max-width: 850px;
}

.question_text_second {
    max-width: 600px;
    transform: translateX(400px);
}
.question_text_third {
    max-width: 500px;
    transform: translateX(750px);
}

.question_text_third__lang-en {
    max-width: 600px;
}

.question_button {
    background-color: #FF6434; /* Цвет фона кнопки "Загрузить еще" */
    color: white; /* Цвет текста кнопки */
    padding-bottom: 15px;
    padding-top: 15px;
    width: 90%;
    border: none; /* Убрать границу кнопки */
    border-radius: 20px; /* Закругление углов кнопки */
    font-size: 18px; /* Размер шрифта кнопки */
    font-weight: 500;
    line-height: 110%;
    /* Отступ сверху для кнопки */
    margin: 20px auto 45px;
    cursor: pointer; /* Курсор в виде пальца при наведении на кнопку */
    box-shadow: 4px 6px 0 0 #406AEA;
}

.question_button:hover {
    background-color: #f27d30;
}

@media (max-width: 1429px) {
    .question_text{
    font-size: 70px;
    }

    .question_text_third__lang-en {
        max-width: 550px;
    }
}

@media (max-width: 1378px) {
    .question_text{
        font-size: 60px;
    }

    .question_text_third__lang-en {
        max-width: 500px;
    }
}

@media (max-width: 1332px) {
    .question_text{
        font-size: 50px;
    }

    .question_text_third__lang-en {
        max-width: 400px;
    }

    .question_text_third {
        max-width: 400px;
    }
}

@media (max-width: 1332px) {
    .question_text{
        font-size: 45px;
    }

    .question_text_third__lang-en {
        max-width: 340px !important;
    }

    .question_text_third {
        max-width: 280px;
    }
}

@media (max-width: 1170px) {
    .question_wrapper {
        text-align: center;
    }

    .question_text{
        font-size: 35px;
    }

    .question_text_first {
        transform: translateX(-200px);
    }

    .question_text_second {
        transform: translateX(200px);
    }

    .question_text_third__lang-en {
        max-width: 280px !important;
    }

    .question_text_third {
        max-width: 240px;
        transform: translateX(600px);
    }
}

@media (max-width: 960px) {
    .question_wrapper {
        text-align: center;
    }

    .question_text{
        font-size: 30px;
    }

    .question_text_first {
        transform: translateX(-250px);
    }

    .question_text_second {
        transform: translateX(50px);
    }

    .question_text_third__lang-en {
        max-width: 280px !important;
    }

    .question_text_third {
        max-width: 240px;
        transform: translateX(400px);
    }
}
@media (max-width: 810px) {
    .question_wrapper {
        text-align: center;
    }

    .question_text{
        font-size: 20px;
    }

    .question_text_first {
        transform: translateX(-150px);
    }

    .question_text_second {
        transform: translateX(0px);
    }

    .question_text_third__lang-en {
        max-width: 280px !important;
    }

    .question_text_third {
        max-width: 240px;
        transform: translateX(300px);
    }
}

@media (max-width: 660px) {
    .question_wrapper {
        text-align: center;
    }

    .question_text{
        font-size: 16px;
        line-height: 14px;
    }

    .question_text_first {
        transform: translateX(-100px);
    }

    .question_text_second {
        transform: translateX(-50px);
    }

    .question_text_third__lang-en {
        max-width: 280px !important;
    }

    .question_text_third {
        max-width: 100px;
        transform: translateX(100px);
    }
}