.team-container {
    background: rgb(9, 9, 121);
    background: linear-gradient(180deg, rgba(9, 9, 121, 1) 0%, rgba(9, 9, 121, 1) 56%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 1) 100%);
    text-align: center;
    padding: 20px;
    /*max-width: 1600px;*/
    margin: 0 auto 0;
    font-family: Inter, serif;
}

.team-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.team-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 75%;
    width: 130px;
    height: 33px;
    cursor: pointer;
    outline: none;
    margin-left: 80px;
}

.team-header {
    color: #FFFFFF;
    line-height: 110%;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.team-member {
    background-color: #ffffff;
    border: none;
    /*padding: 20px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 321px;
}

.member-image {
    width: 321px;
    height: auto;
}

.member-info h3 span {
    color: #FFFFFF;
    background-color: #001573;
    /*margin-bottom: 10px; */
    font-size: 40px;
    font-weight: 600;
    line-height: 90%;
}

.member-info {

    text-align: left;
}

.member-info p {
    color: #001573;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

@media (max-width: 1000px) {
    .team-container {
        background: linear-gradient(180deg, rgba(9, 9, 121, 1) 0%, rgba(9, 9, 121, 1) 87%, rgba(255, 255, 255, 1) 89%, rgba(255, 255, 255, 1) 100%);
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        margin-bottom: 20px;
    }

    .member-info {
        text-align: center;
    }
}

@media (max-width: 810px) {
    .team-button {
        font-size: 12px;
        width: 98px;
        height: 24px;
        line-height: 25%;
    }
}

@media (max-width: 660px) {
    .team-button {
        margin-left: 10px;
    }

    .team-header {
        margin-top: 30px;
        margin-left: 10px;
        font-size: 12px;
    }

    .team-container {
        background: linear-gradient(180deg, rgba(9, 9, 121, 1) 0%, rgba(9, 9, 121, 1) 87%, rgba(255, 255, 255, 1) 89%, rgba(255, 255, 255, 1) 100%);
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        margin-bottom: 20px;
    }

    .member-info {
        text-align: center;
    }

    .member-info p {
        font-size: 14px;
    }
}